
<div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="productId" />
        <input type="hidden" formControlName="isDeleted" />
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input type="url" class="form-control" id="imageUrl" formControlName="imageUrl" placeholder="Enter Url"
                [ngClass]="{ 'is-invalid': submitted && f.imageUrl.errors }" />
            <div *ngIf="submitted && f.imageUrl.errors" class="invalid-feedback">
                <div *ngIf="f.imageUrl.errors.required">Url is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" formControlName="description"
                placeholder="Enter Description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
                <div *ngIf="f.description.errors.minlength">Description must be of 150 characters</div>
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter Number"
                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Price is required</div>
            </div>
        </div>

        <div class="form-group stars">
            <label>Rating</label>
            <ngx-input-star-rating formControlName="rating"></ngx-input-star-rating>
        </div>

        <div class="form-group">
            <select class="custom-select" formControlName="location">
                <option value="">Select location</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Rajkot">Rajkot</option>
                <option value="Vadodara">Vadodara</option>
            </select>
            <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">Location is required</div>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="stockAvailable" name="stockAvailable" id="stockAvailable" value="true">
            <label class="form-check-label" for="stockAvailable">
              Stock
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="stockAvailable" name="stockAvailable" id="stockAvailableNot" value="false">
            <label class="form-check-label" for="stockAvailableNot">
              No Stock
            </label>
          </div>
          <hr>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
    </form>
</div>