<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/trash']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                    </svg>
                    Trash
                </a>
            </li>
        </ul>

        <form [formGroup]="searchForm">
            <div class="row m-1">
                <input type="number" formControlName="searchStartRange" (keyup.enter)="onSearchChange()" style="width:80px;"/>
                <span style="width:20px;"></span>
                <input type="number" formControlName="searchEndRange" (keyup.enter)="onSearchChange()"  style="width:80px;"/>
            </div>
            <div>
                <select class="custom-select" formControlName="searchLocation" (change)="onSearchChange()">
                    <option value="">Select location</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="Rajkot">Rajkot</option>
                    <option value="Vadodara">Vadodara</option>
                </select>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="searchStockAvl" name="searchStockAvl"
                    id="searchStockAvl" value="true" (change)="onSearchChange()">
                <label class="form-check-label" for="searchStockAvl">
                    Stock
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="searchStockAvl" name="searchStockAvl"
                    id="stockAvailableNot" value="false" (change)="onSearchChange()">
                <label class="form-check-label" for="stockAvailableNot">
                    No Stock
                </label>
            </div>

        </form>

    </div>
</nav>